.FileHandler__table  {
  width: 100%;
  border-collapse: collapse;
}

.FileHandler__table tr td {
  border: 1px solid black;
  height: 42px;
}

.FileHandler__table th,
.FileHandler__table td:nth-child(3){
  text-align: center;
}